.fp-watermark {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.inner {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
}

.bzf {
  position: relative;
  display: inline-block;
  color: transparent;
  background: #000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 1px 3px 3px rgba(255, 255, 255, 0.3);
}

.bzf::before {
  content: "";
  position: absolute;
  inset: 50% auto auto 0;
  height: calc(100% + 30px);
  width: 1px;
  background: rgba(0, 0, 0, 0.25);
  transform: translate(0, -50%);
}

.bzf::after {
  content: "";
  position: absolute;
  inset: 50% 0 auto auto;
  height: calc(100% + 30px);
  width: 1px;
  background: rgba(0, 0, 0, 0.25);
  transform: translate(0, -50%);
}

.bzf em::before {
  content: "";
  position: absolute;
  inset: 0 auto auto 50%;
  width: calc(100% + 30px);
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
  transform: translate(-50%, 0);
}

.bzf em::after {
  content: "";
  position: absolute;
  inset: auto auto 0 50%;
  width: calc(100% + 30px);
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
  transform: translate(-50%, 0);
}

.nmf {
  color: #fff;

  text-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
  -webkit-text-stroke: 1px rgba(212, 212, 212, 0.5);

  /* text-shadow: 1px 0 3px rgba(255, 255, 255, 0.25);
  background: linear-gradient(to right top, #0a96ba, #032777, #333333);
  color: transparent;
  -webkit-background-clip: text; */
}

.design_set {
  position: absolute;
  inset: 0 auto auto 0;
}

.design_set span {
  display: inline-block;
}
