:root {
  --primary-color: #f4cb4f;
  --secondary-color: tomato;
  --tertiary-color: blue;
  --background-color: #f9f9f9;
  --darkgray-color: #444444;
  --lightgray-color: #e5e5e5;
  --white-color: #ffffff;

  --fz-big: 8rem;
  --fz-middle: 4rem;
  --fz-small: 1.4rem;
}

body {
  background: url(../images/patten01.png);
  background: url(../images/afu_01.jpg);
  /* background: #f9f9f9; */
  overflow: hidden;
}

#Wrapper {
  /* overflow-x: hidden; */
}

#header {
  position: sticky;
  top: 0;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
}

#header .header_content {
  order: 2;
  border-bottom: 1px solid var(--lightgray-color);
}

#header .header_content .inner {
  display: flex;
  align-items: center;
  height: 8rem;
}

#header .logo img {
  height: 4.8rem;
}
#header .logo a {
  font-size: 3.2rem;
  font-weight: 600;
}

#header .gnb {
  margin: 0 0 0 auto;
}

#header .gnb > ul {
  display: flex;
  gap: 4rem;
  white-space: nowrap;
}

#header .gnb > ul a {
  text-transform: uppercase;
}

#header .header_utils {
  font-size: 1.4rem;
  line-height: 2em;
  border-bottom: 1px solid var(--lightgray-color);
}

#header .header_utils .inner {
  display: flex;
  justify-content: flex-end;
}

/* #content {
  margin: 0 0 0 40px;
} */

#side_lnk {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  height: 100vh;
  background: #333333;
  padding: 10rem 1rem;
}

#side_lnk .snb {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#side_lnk .snb span {
  color: #d4d4d4;
  font-size: 2rem;
}

#mainIntro {
  position: relative;
  overflow: hidden;
}

#mainIntro .inner {
  display: flex;
  align-items: center;
}

#mainIntro h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  margin: 0 0 3.2rem 0;
}

#mainIntro h2 em {
  display: block;
  white-space: nowrap;
  font-size: 14rem;
  font-weight: 800;
  line-height: 0.7;

  text-indent: -1rem;
}

#mainIntro h2 strong:nth-child(1) em {
  text-indent: -3rem;
}

#mainIntro h2 strong:nth-child(1) em::first-letter {
  font-weight: 900;
  font-size: 18rem;
  color: var(--primary-color);
}

#mainIntro .title span {
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  margin: 0 0 3.2rem 0;
}

#mainIntro .mockup img {
  filter: grayscale(1);
}

#mainIntro .design_set .a01 {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;

  width: 60%;
  height: 10rem;
  border-radius: 5rem;
  transform: rotate(-20deg);

  background: linear-gradient(to right top, #0a96ba, #032777, #333333);
}

#mainIntro .design_set .a02 {
  position: absolute;
  top: 20rem;
  right: 10rem;
  z-index: 1000;

  width: 30rem;
  height: 30rem;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

#mainIntro .swiper-cube .swiper-cube-shadow::before {
  content: "";
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(150px);
}

.path {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.path svg {
  position: absolute;
  top: 0;
  right: 0;
}

.path svg path {
  stroke: tomato;
  stroke-dasharray: 5px 10px;
}

.m {
  position: absolute;
  top: -100%;
  left: -100%;
}

.n img {
  max-width: 150px;
  filter: drop-shadow(-4px -10px 10px rgba(0, 0, 0, 0.4));
}

.m > div:nth-child(1) .n {
  animation: fly 1s infinite;
}

.m > div:nth-child(2) .n {
  animation: fly 2s infinite;
}

.m > div:nth-child(3) .n {
  animation: fly 1.5s infinite;
}

.m > div:nth-child(4) .n {
  animation: fly 2s infinite;
}

.m > div:nth-child(5) .n {
  animation: fly 1.5s infinite;
}

@keyframes fly {
  0% {
    transform: scaleY(0.5);
  }

  50% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(0.5);
  }
}

.mainSlogan .wrap_inner {
  display: flex;
}

.mainSlogan .wrap_inner .img_box {
  flex: 3;
}

.mainSlogan .wrap_inner .title {
  flex: 4;
  color: #fff;
  padding: 10rem 20rem;
  text-align: right;
}

.mainSlogan .wrap_inner .title h2 {
  font-size: 8rem;
  font-weight: 900;
  margin: 0 0 0.8rem 0;
  /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5); */
}
.mainSlogan .wrap_inner .title strong {
  display: block;
  font-size: 3.2rem;
  font-weight: 100;
  margin: 0 0 1.6rem 0;
}

.ms01 {
  background: #519bb8 url(../images/patten04.png);
  /* clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%); */
}

.ms01 .img_box {
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.ms02 .img_box {
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}
.ms02 {
  background: #e9ba2e url(../images/patten04.png);
}

.ms03 .inner {
  display: flex;
  gap: 3.2rem;
}

.ms03 .inner h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 1.2rem 0;
}

.ms03 .inner p {
  margin: 0 0 2.4rem 0;
}

/* 
519bb8
355c7b
#337689
#da544b
#f4cb4f
#6fa476

*/

/* 







*/

#mainBanner {
  padding: 20rem 0;
}

#mainBanner .title {
  text-align: right;
}

#mainBanner .icon {
  position: absolute;
  top: -18rem;
  left: 5rem;
  font-size: 10rem;
  font-weight: 900;
}

#mainBanner .ba_slide,
#mainBanner2 .ba_slide2 {
  transform: rotate(4deg) scale(1.2);
}

#mainBanner .ba_slide .swiper-wrapper,
#mainBanner2 .ba_slide2 .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* .swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
} */

/* #mainBanner .ba_slide .itm,
#mainBanner2 .ba_slide2 .itm {
  border-radius: 2rem;
  overflow: hidden;
  border: 4px solid #fff;
  outline: 1px dashed #666;
  margin: 40px 0;
  padding: 20px 0 30px 0;
  background: #333;
} */

/* #mainBanner .bar {
  display: inline-flex;
  margin: 2rem 0 0 0;
  width: 100rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right top, #0a96ba, #032777, #333333);
} */

/* 







*/
#mainSlogan {
  min-height: 100vh;
  /* padding: 24rem 0 0 0; */
  /* background: #f9f9f9; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#mainSlogan h2 {
  margin: 0 0 2.4rem 0;
}

/* #mainSlogan h2 span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 4px solid #fff;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 900;

  background: linear-gradient(145deg, #e0e0e0, #ffffff);
  box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
} */
.slide_link {
  position: relative;
  z-index: 1000;

  margin: 0 0 0 10rem;
}
.slide_link button {
  margin: 0 2rem 0 0;
}

#mainSlogan h2 {
  display: block;
}

#mainSlogan h2 em {
  display: block;
  font-size: 18rem;
  font-weight: 900;
}

#mainSlogan .inner .swiper-wrapper * {
  outline: 1px solid #eee;
}

#mainSlogan .m_txt_slide .itm {
  position: relative;
  padding: 4rem 0 6rem 0;
  user-select: none;
  white-space: nowrap;
}

/* #mainSlogan .m_txt_slide .itm .img_area {
  transition: 0.5s;
} */
#mainSlogan .m_txt_slide .itm:not(.swiper-slide-active) img {
  filter: grayscale(1) opacity(0.05) blur(10px);
}
#mainSlogan .swiper-cube .swiper-cube-shadow::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(150px);
}

#mainSlogan .m_txt_slide .itm .img_area::after {
  content: "";

  position: absolute;
  bottom: 0;
  width: 100rem;
  height: 4rem;

  border-radius: 2rem;
  background: var(--primary-color);
}

/* #mainSlogan .swiper-wrapper {
  transition-timing-function: linear !important;
} */

.txt_area strong {
  display: block;
}

.txt_area p {
  margin: 0 0 2rem 0;
}
.txt_area span {
  display: block;
  margin: 0 0 4rem 0;
  font-size: 2rem;
}

/* #mainSlogan .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18rem;
} */

#mainSlogan .img_area {
  position: absolute;
  top: 10rem;
  right: 4rem;
}

#mainSlogan .img_area figure {
  padding: 4rem 2rem;
}

#mainSlogan .img_area img {
  width: 32rem;
  height: 32rem;
  object-fit: cover;
  border-radius: 50%;
}

#mainSlogan .time_area {
  position: absolute;
  top: 14rem;
  right: -0rem;
  z-index: 999;
}

/* #mainSlogan .time_area * {
  outline: 1px solid #444;
} */

#mainSlogan .time_area::after {
  content: "12";
  position: absolute;
  top: -14rem;
  left: 60%;
  width: 4rem;
  height: 20rem;
  background: linear-gradient(145deg, #f1f1f1, #ffffff);
  box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
  border: 4px solid #fff;
  border-radius: 2rem;
  padding: 10px 0 0 0;
  text-align: center;
  font-weight: 900;
}

#mainSlogan .time_area::before {
  content: "3";
  position: absolute;
  top: 50%;
  right: -10rem;
  width: 20rem;
  height: 4rem;
  background: #fff;
  border: 4px solid #333;
  border-radius: 2rem;
  padding: 0 10px 0 0;
  text-align: right;
  font-weight: 900;
  font-size: 8rem;
  color: #fff;
  text-shadow: 0px 0px 0 rgb(231, 231, 231), 1px 1px 0 rgb(216, 216, 216),
    2px 2px 0 rgb(202, 202, 202), 3px 3px 0 rgb(187, 187, 187),
    4px 4px 0 rgb(173, 173, 173), 5px 5px 0 rgb(158, 158, 158),
    6px 6px 0 rgb(144, 144, 144), 7px 7px 6px rgba(0, 0, 0, 0.6),
    7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

#mainSlogan .time_area .clock {
  width: 80rem;
  height: 80rem;

  border-radius: 50%;
  outline: 1px dashed #999;
}

#mainSlogan .time_area .clock span {
  position: absolute;
  top: 0;
  left: 50%;

  width: 10px;
  height: 100%;

  transform: translate(-50%, 0);
  background: var(--white_color);

  font-size: 0;
}

#mainSlogan .time_area .clock .second {
  width: 3px;
  background: linear-gradient(#fad000 60%, transparent 60%);
}

#mainSlogan .time_area .clock .minuite {
  width: 8px;
  background: linear-gradient(transparent 15%, tomato 15% 60%, transparent 60%);
}

#mainSlogan .time_area .clock .hour {
  width: 8px;
  background: linear-gradient(
    transparent 25%,
    #15616d 25% 60%,
    transparent 60%
  );
}

/* #mainVisual * {
  outline: 1px solid;
} */

#mainVisual .inner {
  margin: 20rem auto 0 auto;
}
